html,
body,
#root {
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
}

.container {
    width: 600px;
    height: 100%;
    margin: 0 auto;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    position: relative;
}

.row {
    display: flex;
    flex-direction: row;
}

.boardItem {
    padding: 1px;
    box-sizing: border-box;
    height: auto;
}

.boardItem span {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

#board {
    position: relative;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
}
